*{
    font-family: Arial, Helvetica, sans-serif;
    margin: 10px;   
    padding: 10px;
    text-align: center;

}
h1 {
    color: blueviolet;
}

#form_h1 {
    color: burlywood;
    text-align: center;

}

.classA {
    background-color: beige;
    color: black;
    display: block;
}

div a {
    display: block;
    text-decoration: none;
    color: black;
    border: 1px; color: black;
    width: auto;
    background-color: antiquewhite;
    text-transform: uppercase; text-align: center;

}

button{
    background-color: #4CAF50; /* Green */
                        border: none;
                        color: white;
                        padding: 10px 20px;
                        text-align: center;
                        font-size: 16px;
                        margin: 4px 2px;
                        cursor: pointer;
}

